body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(231, 93, 93);
}
.cell{
    height: 76px;
    width: 76px;
    border: 2px solid;
    box-shadow: 0 0 3px;
    line-height: 76px;
    font-size: 51px;
    cursor: pointer;

}
#gamecontainer{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 226px;
    margin: auto;
}